<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Головна</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/about']">Інформація <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/jokes-groups']">Категорії</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/add-joke']">Додати чорнуху</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/jokes']">Анекдоти</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/login']">Логін</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/register']">Зареєструватися</a>
    </li>
  </ul>
</nav>


