<form [formGroup]="regForm">
  <div class="form-group">
    <label for="name">Ім"я:</label>
    <input type="text" class="form-control" id="name" formControlName="regName">
  </div>
  <div class="form-group">
    <label for="e-mail">Електронна пошта:</label>
    <input type="text" class="form-control" id="e-mail" formControlName="regMail">
  </div>
  <div class="form-group">
    <label for="pass">Пароль:</label>
    <input type="password" class="form-control" id="pass" formControlName="regPass">
  </div>
  <div class="form-group">
    <label for="pass-conf">Підтвердження пароля:</label>
    <input type="password" class="form-control" id="pass-conf" formControlName="regPassConfirm">
  </div>
</form>
