<div ngbDropdown class="nav-item dropdown jokes-groups">
  <a class="nav-link dropdown-toggle" id="supportedFirstDropdown" href="javascript:void(0)"  ngbDropdownToggle>Категорії</a>
  <div class="dropdown-menu" aria-labelledby="supportedFirstDropdown">
    <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['']" [queryParams]="{filter: group.name, page: 0}"
        *ngFor="let group of jokesGroups">{{group.name}}
    </a>
    <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['']" [queryParams]="{filter: 'all', page: 0}">
      всі категорії
    </a>
  </div>
</div>
<div ngbDropdown class="nav-item dropdown jokes-sort">
  <a class="nav-link dropdown-toggle" id="supportedSecondDropdown" href="javascript:void(0)"  ngbDropdownToggle>Сортувати за</a>
  <div class="dropdown-menu" aria-labelledby="supportedSecondDropdown">
    <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['']" [queryParams]=
      "{sort: sort.name, filter: paginationService.filter, size: paginationService.pageSize, page: 0}"
       *ngFor="let sort of sorts">{{sort.title}}
    </a>
  </div>
</div>
<router-outlet></router-outlet>


